flask>=3.0.0
flask-cors>=4.0.0
langchain>=0.3.15
langchain-core>=0.3.31
langchain-community>=0.3.15
python-dotenv>=1.0.0
langchain-openai>=0.0.5
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
faiss-cpu>=1.7.4
pypdf>=3.17.0
duckduckgo-search>=5.0.0
numexpr>=2.8.0
